body {
    background: rgb(238, 247, 253);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.main-container {
    background: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}

.search-form-input {
    background-color: rgb(247, 251, 253);
    border: none;
    border-radius: 10px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
    margin: 20px 5px;
}

.search-form-button {
    background-color: rgb(178, 221, 248);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    padding: 13px 26px;
}
